<div class="">
  <a class="" routerLink="/lugares">Lugares</a> / Contacto
</div>
<div class="jumbotron">
  <div class="row">
    <div class="col-md-8">

      <label for="">Nombre</label>
      <input type="text" class="form-control">
      
      <label for="">Correo</label>
      <input type="email" class="form-control">
      
      <label for="">Mensaje</label>
      <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
      <a class="btn btn-primary">Enviar</a>
      <a class="btn btn-secondary" routerLink ="/lugares">Cancelar</a>
    </div>

  </div>
</div>